<div class="card">
    <div class="card-img-wrapper">
        <img class="card-img-top" src="assets/images/Pic2.png" />
    </div>
    <div class="card-body p-1">
        <h1 class="mb-0">Track</h1>

        <hr class="mt-0 mb-2" />

        <h3 class="mt-2">Today consumption : {{ weightOneDay }} g</h3>

        <hr class="mt-0 mb-2" />

        <h3 class="mt-2">Weekly consumption : {{ weightOneWeek }} g</h3>

        <hr class="mt-0 mb-2" />

        <h3 class="mt-2">Monthly consumption : {{ weightOneMonth }} g</h3>
    </div>
</div>
